<!DOCTYPE HTML>
<html lang="en-US">
<head>
  	<meta charset="utf8" />
  	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="description" content="" />
  	<meta name="author" content="" />
  	<meta content="width = 1150" name="viewport">
  	<link rel="icon" href="favicon.ico" type="image/x-icon">
  	<title>витрина</title>
    <link rel="stylesheet" href="../static-assets/site/layout.css" media="all" />
	<script src="../static-assets/site/js/jquery-1.9.1.min.js"></script>
	<!--[if lt IE 9]>
    <script src="../static-assets/site/js/html5.js"></script>
    <script src="../static-assets/site/js/ie.js"></script>
    <link rel="stylesheet" href="../static-assets/site/ie.css" media="all"/>
    <![endif]-->
 <script src="../static-assets/site/js/faq.js"></script>
</head>
<body>
	<header>
		<div class="inner">
			<a class="logo" href="/">Комсомольск-на-Амуре</a>
			<nav>
				<ul>
					<li><a href="#">Магазины</a>
						<ul>
							<li><a href="#">Одежда <span>(321)</span></a></li>
							<li><a href="#">Верхняя одежда <span>(321)</span></a></li>
							<li><a href="#">Белье, купальники <span>(321)</span></a></li>
							<li><a href="#">Акссесуары <span>(321)</span></a></li>
							<li><a href="#">Одежда больших размеров <span>(321)</span></a></li>
						</ul>
					</li>
					<li><a href="#">Для женщин</a></li>
					<li><a href="#">Для мужчин</a></li>
					<li><a href="#">Для детей</a></li>
					<li><a href="#">Обувь</a></li>
					<li><a href="#">Акции</a></li>
					<li><a href="#">Создать стиль</a></li>
				</ul>
			
			</nav>
			
			<div class="log">
				<a href="#">Александр Петрович</a>
				<ul>
					<li><a href="#"><b>Избранное</b> <span>(321)</span></a></li>
					<li><a href="#">Настройки</a></li>
					<li><a href="#">Выход</a></li>
				</ul>
			</div>
			
			
			<div class="clr"></div>
		</div>
	</header>
	
	<section id="content">
		<div id="right">
			<div id="adv">
				<img src="../static-assets/site/img/img.png" alt="name" />
			</div>
			
			<h1>Выбирайте одежду и обувь из магазинов Екатеринбурга</h1>
			
			<div id="cats">
				<div class="cat">
					<a href="#">Для женщин</a> (321)
					<div class="sub">
						<a href="#">Одежда</a>, <a href="#">Одежда</a>, <a href="#">Одежда</a>, <a href="#">Одежда</a>, <a href="#">Одежда</a>, <a href="#">Одежда</a>, <a href="#">Одежда</a>, <a href="#">Одежда</a>, <a href="#">Одежда</a>, <a href="#">Одежда</a>, <a href="#">Одежда</a>, <a href="#">Одежда</a>
					</div>
				</div><div class="cat">
					<a href="#">Для мужчин</a> (321)
					<div class="sub">
						<a href="#">Одежда</a>, <a href="#">Одежда</a>
					</div>
				</div><div class="cat">
					<a href="#">Для Детей</a> (321)
					<div class="sub">
						<a href="#">Одежда</a>, <a href="#">Одежда</a>
					</div>
				</div><div class="cat">
					<a href="#">Обувь</a> (321)
					<div class="sub">
						<a href="#">Одежда</a>, <a href="#">Одежда</a>
					</div>
				</div><div class="cat">
					<a href="#">Ручная работа</a> (321)
					<div class="sub">
						<a href="#">Одежда</a>, <a href="#">Одежда</a>
					</div>
				</div>
			</div>
			
			
			<ul id="items">
				<li>
					<a href="#"><img src="../static-assets/site/img/img2.png" alt="name" /></a>
					<a class="fav in" href="#"></a><div class="wp">
						<span class="name">Пуловер Нина Ричи с длинным названием на две строчки</span>
						<span class="price">24 830 р.</span> <a href="#">ЮвелирГолд </a>
					</div>
					
				</li><li>
					<a href="#"><img src="../static-assets/site/img/img2.png" alt="name" /></a>
					<a class="fav" href="#"></a><div class="wp">
						<span class="name">Плащ</span>
						<span class="price">24 830 р.</span> <a href="#">ЮвелирГолд </a>
					</div>
					
				</li><li>
					<a href="#"><img src="../static-assets/site/img/img2.png" alt="name" /></a>
					<a class="fav in" href="#"></a><div class="wp">
						<span class="name">Пуловер Нина Ричи с длинным названием на две строчки</span>
						<span class="price">24 830 р.</span> <a href="#">ЮвелирГолд </a>
					</div>
					
				</li><li>
					<a href="#"><img src="../static-assets/site/img/img2.png" alt="name" /></a>
					<a class="fav in" href="#"></a><div class="wp">
						<span class="name">Пуловер Нина Ричи с длинным названием на две строчки</span>
						<span class="price">24 830 р.</span> <a href="#">ЮвелирГолд </a>
					</div>
					
				</li><li>
					<a href="#"><img src="../static-assets/site/img/img2.png" alt="name" /></a>
					<a class="fav in" href="#"></a><div class="wp">
						<span class="name">Пуловер Нина Ричи с длинным названием на две строчки</span>
						<span class="price">24 830 р.</span> <a href="#">ЮвелирГолд </a>
					</div>
					
				</li><li>
					<a href="#"><img src="../static-assets/site/img/img2.png" alt="name" /></a>
					<a class="fav in" href="#"></a><div class="wp">
						<span class="name">Пуловер Нина Ричи с длинным названием на две строчки</span>
						<span class="price">24 830 р.</span> <a href="#">ЮвелирГолд </a>
					</div>
					
				</li><li>
					<a href="#"><img src="../static-assets/site/img/img2.png" alt="name" /></a>
					<a class="fav in" href="#"></a><div class="wp">
						<span class="name">Пуловер Нина Ричи с длинным названием на две строчки</span>
						<span class="price">24 830 р.</span> <a href="#">ЮвелирГолд </a>
					</div>
					
				</li><li>
					<a href="#"><img src="../static-assets/site/img/img2.png" alt="name" /></a>
					<a class="fav in" href="#"></a><div class="wp">
						<span class="name">Пуловер Нина Ричи с длинным названием на две строчки</span>
						<span class="price">24 830 р.</span> <a href="#">ЮвелирГолд </a>
					</div>
					
				</li><li>
					<a href="#"><img src="../static-assets/site/img/img2.png" alt="name" /></a>
					<a class="fav in" href="#"></a><div class="wp">
						<span class="name">Пуловер Нина Ричи с длинным названием на две строчки</span>
						<span class="price">24 830 р.</span> <a href="#">ЮвелирГолд </a>
					</div>
					
				</li><li>
					<a href="#"><img src="../static-assets/site/img/img2.png" alt="name" /></a>
					<a class="fav in" href="#"></a><div class="wp">
						<span class="name">Пуловер Нина Ричи с длинным названием на две строчки</span>
						<span class="price">24 830 р.</span> <a href="#">ЮвелирГолд </a>
					</div>
					
				</li><li>
					<a href="#"><img src="../static-assets/site/img/img2.png" alt="name" /></a>
					<a class="fav in" href="#"></a><div class="wp">
						<span class="name">Пуловер Нина Ричи с длинным названием на две строчки</span>
						<span class="price">24 830 р.</span> <a href="#">ЮвелирГолд </a>
					</div>
					
				</li><li>
					<a href="#"><img src="../static-assets/site/img/img2.png" alt="name" /></a>
					<a class="fav in" href="#"></a><div class="wp">
						<span class="name">Пуловер Нина Ричи с длинным названием на две строчки</span>
						<span class="price">24 830 р.</span> <a href="#">ЮвелирГолд </a>
					</div>
					
				</li><li>
					<a href="#"><img src="../static-assets/site/img/img2.png" alt="name" /></a>
					<a class="fav in" href="#"></a><div class="wp">
						<span class="name">Пуловер Нина Ричи с длинным названием на две строчки</span>
						<span class="price">24 830 р.</span> <a href="#">ЮвелирГолд </a>
					</div>
					
				</li><li>
					<a href="#"><img src="../static-assets/site/img/img2.png" alt="name" /></a>
					<a class="fav in" href="#"></a><div class="wp">
						<span class="name">Пуловер Нина Ричи с длинным названием на две строчки</span>
						<span class="price">24 830 р.</span> <a href="#">ЮвелирГолд </a>
					</div>
					
				</li><li>
					<a href="#"><img src="../static-assets/site/img/img2.png" alt="name" /></a>
					<a class="fav in" href="#"></a><div class="wp">
						<span class="name">Пуловер Нина Ричи с длинным названием на две строчки</span>
						<span class="price">24 830 р.</span> <a href="#">ЮвелирГолд </a>
					</div>
					
				</li>
			</ul>
			
			<div id="pagi">
				<div class="pn">
					<a class="prev end" href="#">&larr; Ctrl <span>Предыдущая</span></a><a class="next" href="#"><span>Следующая</span>Ctrl &rarr;</span></a>
				</div>
				<div class="num">
					<a class="cur" href="#">1</a><a href="#">2</a><a href="#">3</a><a href="#">4</a><a href="#">5</a><a href="#">6</a><a href="#">7</a><a href="#">8</a><a href="#">9</a><a href="#">10</a><span>...</span><a href="#">200</a>
				</div>
			</div>
			
			
		</div>
		<aside>
			<div id="promo">
				<div class="item">
					<div class="img"><a href="#"><img src="../static-assets/site/img/img3.png" alt="name" /></a></div>
					<div class="text">
						<a href="#">ЛукБук среды</a>
						<span class="date">15 Января</span>
					</div>
				</div>
				<div class="item">
					<div class="img"><a href="#"><img src="../static-assets/site/img/img3.png" alt="name" /></a></div>
					<div class="text">
						<a href="#">ЛукБук среды</a>
						<span class="date">15 Января</span>
					</div>
				</div>
				<div class="item">
					<div class="img"><a href="#"><img src="../static-assets/site/img/img3.png" alt="name" /></a></div>
					<div class="text">
						<a href="#">ЛукБук среды</a>
						<span class="date">15 Января</span>
					</div>
				</div>
			</div>
			
			<div id="adv2">
				<a href="#"><img src="../static-assets/site/img/b1.png" alt="name" /></a>
			</div>
			<div id="social">
				<img src="../static-assets/site/img/s.png" alt="name" />
			</div>
			
			<div id="forum">
				<div class="item">
					<a href="#">Форум</a> <span>800 тем</span>
				</div>
				<div class="item">
					<a href="#">Покупка вещей через интернет-магазин</a> <span>22</span>
				</div>
				<div class="item">
					<a href="#">Безвкусица</a> <span>22</span>
				</div>
				<div class="item">
					<a href="#">Безвкусица</a> <span>22</span>
				</div>
				<div class="item">
					<a href="#">Безвкусица</a> <span>22</span>
				</div>
				<div class="item">
					<a href="#">Безвкусица</a> <span>22</span>
				</div>
			</div>
			
		</aside>
	</section>
	
	<footer>
		<div class="inner">
			<div class="left">
				<img src="../static-assets/site/img/logo2.png" alt="name" />
				
				<p>Витринабург - сайт об одежде<br />в магазинах Екатеринбурга</p>
				<p>Размещение рекламы и сотрудничество:<br />(343) 345-93-27, <a href="mailto:adv@vitrinaburg.ru">adv@vitrinaburg.ru</a></p>
				
				<div class="links">
					<a href="#">О проекте</a><br />
					<a href="#">Размещение рекламы</a><br />
					<a href="#">Добавить магазин</a>
				</div>
				
			</div>
			
			<div class="right">
				<div id="adv3">
					<img src="../static-assets/site/img/b2.png" alt="name" />
				</div>
				
				<nav>
					<div>
						<a href="#">Для женщин</a><br />
						<a href="#">Одежда</a><br />
						<a href="#">Верхняя</a><br />
						<a href="#">Одежда больших размеров</a><br />
						<a href="#">Для женщин</a><br />
						<a href="#">Для женщин</a><br />
					</div><div>
						<a href="#">Для мужчин</a><br />
						<a href="#">Одежда</a><br />
						<a href="#">Верхняя</a><br />
						<a href="#">Одежда больших размеров</a><br />
						<a href="#">Для женщин</a><br />
						<a href="#">Для женщин</a><br />
					</div><div>
						<a href="#">Для детей</a><br />
						<a href="#">Одежда</a><br />
						<a href="#">Верхняя</a><br />
						<a href="#">Одежда больших размеров</a><br />
						<a href="#">Для женщин</a><br />
						<a href="#">Для женщин</a><br />
					</div><div>
						<a href="#">Обувь</a><br />
						<a href="#">Одежда</a><br />
						<a href="#">Верхняя</a><br />
						<a href="#">Одежда больших размеров</a><br />
						<a href="#">Для женщин</a><br />
						<a href="#">Для женщин</a><br />
					</div><div>
						<a href="#">Ручная работа</a><br />
						<a href="#">Одежда</a><br />
						<a href="#">Верхняя</a><br />
						<a href="#">Одежда больших размеров</a><br />
						<a href="#">Для женщин</a><br />
						<a href="#">Для женщин</a><br />
					</div>
				</nav>
			</div>
			<div class="clr"></div>
		</div>
	
	</footer>
	
	
	
	<div id="alpha"></div>
	<div id="popup">
		<span class="close"></span>
		<div class="ttl">Кожаные куртки и пальто. Женская коллекция</div>
	
	<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	 <img src="images/thumbs/t1.jpg" class="image0" title="infav##" alt="linktodo" >
		
		title = в избанном или нет. infav - в избранном. fav - не в избранном.
		## - разделитель, нужен.
		alt - тут должна быть ссылка на добавить/удалить с избанного
	
	!-->
	
	<div id="gallery" class="ad-gallery">
      <div class="ad-image-wrapper"></div>
      <div class="ad-controls">
      </div>
      <div class="ad-nav">
        <div class="ad-thumbs">
          <ul class="ad-thumb-list">
            <li>
              <a href="../static-assets/site/images/1.jpg">
                <img src="../static-assets/site/images/thumbs/t1.jpg" class="image0" title="infav##" alt="linktodo" >
              </a>
            </li>
            <li>
              <a href="../static-assets/site/images/10.jpg">
                <img src="../static-assets/site/images/thumbs/t10.jpg" title="fav##" alt="linktodo" class="image1">
              </a>
            </li>
            <li>
              <a href="../static-assets/site/images/11.jpg">
                <img src="../static-assets/site/images/thumbs/t11.jpg" title="infav##" alt="linktodo" class="image2">
              </a>
            </li>
            <li>
              <a href="../static-assets/site/images/12.jpg">
                <img src="../static-assets/site/images/thumbs/t12.jpg" title="infav##" alt="linktodo" class="image3">
              </a>
            </li>
            <li>
              <a href="../static-assets/site/images/13.jpg">
                <img src="../static-assets/site/images/thumbs/t13.jpg" title="fav##" alt="linktodo" class="image4">
              </a>
            </li>
            <li>
              <a href="../static-assets/site/images/14.jpg">
                <img src="../static-assets/site/images/thumbs/t14.jpg" title="fav##" alt="linktodo" class="image5">
              </a>
            </li>
            <li>
              <a href="../static-assets/site/images/2.jpg" id="t2">
                <img src="../static-assets/site/images/thumbs/t2.jpg" title="fav##" alt="linktodo" class="image6">
              </a>
            </li>
            <li>
              <a href="../static-assets/site/images/3.jpg">
                <img src="../static-assets/site/images/thumbs/t3.jpg" title="fav##" alt="linktodo" class="image7">
              </a>
            </li>
            <li>
              <a href="../static-assets/site/images/4.jpg">
                <img src="../static-assets/site/images/thumbs/t4.jpg" title="fav##" alt="linktodo" class="image8">
              </a>
            </li>
            <li>
              <a href="../static-assets/site/images/5.jpg">
                <img src="../static-assets/site/images/thumbs/t5.jpg" title="fav##" alt="linktodo" class="image9">
              </a>
            </li>
            <li>
              <a href="../static-assets/site/images/6.jpg">
                <img src="../static-assets/site/images/thumbs/t6.jpg" title="fav##" alt="linktodo" class="image10">
              </a>
            </li>
          </ul>
        </div>
      </div>
 <a id="tofav" href="#">В избранное</a> 
			<div class="info">
                <h3>Где купить</h3>
                <p>Магазин: <a href="#">Белка</a>
					<br />
					<span addr="ул. Свердлова, д. 62" class="showMap">ул. Свердлова, д. 62</span><br />
					<span addr="ул. Свердлова, д. 62" class="showMap">ул. Свердлова, д. 62</span>
				</p>
				<div class="know">
					Уточните наличие по телефону:
					<br />
						<a href="#">показать телефон</a>
					
                    <div class="phone"><b>(343) 353-12-92, 378-13-91</b></div>
                </div>
                    <div class="logotype">
						<a href="#"><img src="../static-assets/site/img/img4.png" alt="name"></a>
					</div>
					<a href="#">Смотреть все коллекции магазина</a>
              </div>
	  
		<div class="clr"></div>
	  
    </div>
	
	
	
	</div>
	
	
	
	
	
	
	
	
</body>
</html>